
* {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: red;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    /* min-height: 100%; */
    min-height: 100vh; 
     
  }
  
  .content {
    flex-grow: 1;
   
  }
  
  .footer {
    flex-shrink: 0;
    margin-top: auto; /* push the footer to the bottom */
  }